body{
    background-color:rgb(16, 241, 241);
}
.heading{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(245, 178, 11);
}
#mygrid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
}
/*  */
#myfooter ul{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    /* padding: 20px; */
}
#myfooter:hover{
    font-size: 24px;
    opacity:0.6;
}
#myfooter ul:hover{
    color:yellow;
}
#myfooter li a{
    text-decoration: none;
}
#myimages{
    width:200px ;
    height:300px ;
    border: 2px solid red;
    border-radius: 90%;
    background: transparent;
}


